{% extends 'Instagram/base.html' %} {% block content %} {%load static%}
<div class="container">
    <div class="jumbotron">
        <h1>Pintagram</h1>
        <p>A great place in the picture world.</p>
    </div>
    <form action="{% url 'Instagram:upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button class="btn" id="special" type="submit">Add Image</button>
    </form>
    <div class="row">
        {% if pictures %} {% for picture in pictures %}
        <div class="col-lg-4 col-md-6 img-div">
            <img src="{% static picture.image_url %}?t={% now 'u' %}" />
            <form action="{% url 'Instagram:filter' picture.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button class="btn btn-warning" type="submit">
                    Filter
                </button>
            </form>
            {% if picture.comment_set.all %}
            <h3>

                Comments:
            </h3>
            {% for c in picture.comment_set.all %}
            <p>
                <div class="comment">
                    {{ c.comment }}
                </div>
            </p>
            {% endfor %} {% endif %}
            <form action="{% url 'Instagram:comment' picture.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %} {{ post_comment }}
                <button class="btn" type="submit">Comment</button>
            </form>
            <a href="{% url 'Instagram:ball' picture.id %}">
                <button class="btn">SOCCER THEME</button>
            </a>
        </div>
        {% endfor %} {% else %}
        <p>No pictures :'(</p>
        {% endif %} {% endblock %}
    </div>
</div>