{% extends 'Instagram/base.html' %} {% block content %} {%load static%}
<div class="container">
    <div class="jumbotron">
        <h1>PintaGram</h1>
        <p>A great place in the picture world.</p>
    </div>
    <div class="row">
        {% if pictures %} {% for picture in pictures %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-sm-offset-2 col-ls-offset-0 col-md-offset-0 img-div">
            <img src="{% static picture.image_url %}?t={% now 'u' %}" />
            <form action="{% url 'Instagram:filter' picture.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button class="btn btn-warning" type="submit">
                    Filter
                </button>
            </form>
        </div>
        {% if picture.comments %}
        <h3>
            <p>{{ picture.choosing }}</p>
            Comments:
        </h3>
        {% for c in picture.comments %}
        <p>
            <div class="comment">
                {{ c }}
            </div>
        </p>
        {% endfor %} {% endif %} {% endfor %} {% else %}
        <p>No pictures :'(</p>
        {% endif %}
    </div>
</div>
{% endblock %}